.quantity{
margin-top: 250px;
margin-left: 500px;
}
.quantity_minus{
  margin-right: 20px;
  border: 1px solid black;
  padding: 5px;
}
.quantity_plus{
  margin-left: 20px;
  border: 1px solid black;
  padding: 5px;
}